<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waseem.splash">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:parentActivityName=".Menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".athkar"
            android:parentActivityName=".Menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".dataBaseActivity"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ListOfTheAthkar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Menu"
            android:theme="@style/AppTheme" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".Auto_Athkar" />

        <receiver
            android:name=".MyAlarmReceiver"
            android:process=":remote"></receiver>

        <service android:name=".MyTestService" />

        <activity android:name=".Guidance"></activity>
    </application>

</manifest>